<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aj. Kanat Appreciation Page</title>
</head>
<body>
<h1>Reasons why Aj. Kanat is the best</h1>
<ul>
    <li>Aj. Kanat graduated from Carnegie Mellon University, meaning he's super smart!</li>
    <li>Aj. Kanat teaches random classes, meaning he can teach ANY class!</li>
    <li>Aj. Kanat is super patient! (unless someone cheats in an exam)</li>
    <li>Aj. Kanat is เทพเกิ๊น according to Aj. Rachata, who's also super smart!</li>
    <li>Aj. Kanat is even known by a researcher from Singapore!</li>
</ul>

</body>
</html>