<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
</head>
<body>
<nav class="navbar navbar-expand bg-light" style="position: fixed; top: 0">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">IC Abroad</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/continent">Partner Universities</a>
                <a class="nav-link" href="/buddy">Buddy Program</a>
                <a class="nav-link" href="/apply">Apply</a>
                <a class="nav-link" href="/scholarships">Scholarships</a>
                <a class="nav-link" href="/course-equiv">Course Equivalency</a>
                <a class="nav-link" href="/faq">FAQ</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>