<!DOCTYPE html>
<html lang="en">
<style>
    .table-row {
        cursor: pointer;
    }

    .table-responsive {
        max-height: 30vh;
    }
</style>
<body>
<main>

    <div class="m-3">
        <div class="mb-3">
            <input class="form-control" onkeyup="search('table', 'search')" name="search" id="search"
                   placeholder="Search course links">
        </div>
        <div class="table-responsive">

            <table class="table" id="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">University</th>
                    <th scope="col">Host's Course</th>
                    <th scope="col">MUIC's Course</th>
                </tr>
                </thead>
                <tbody>
                {% for i in approved_courses %}
                <tr class="table-row" onclick="selectApproved('{{i[2]}}','{{i[4]}}','{{i[6]}}','{{i[7]}}')">
                    <th scope="row">{{loop.index}}</th>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}} {{i[3]}}</td>
                    <td>{{i[4]}} {{i[5]}}</td>
                </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

    <div class="mb-3">

        <div class="container-fluid">

            <div class="row align-items-start mx-2">
                <div class="col">
                    <a>Host's Course</a>
                    <div class="mb-3">
                        <input class="form-control" onkeyup="search('table2','search2')" name="search" id="search2"
                               placeholder="Search host course">
                    </div>
                    <div class="table-responsive">

                        <table class="table" id="table2">
                            <thead>
                            <tr>
                                <th scope="col">University</th>
                                <th scope="col">Host's Course</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in pn_courses %}
                            <tr class="table-row" onclick="selectText('text','{{i[2]}}', 'id', '{{i[-1]}}')">
                                <td>{{i[1]}}</td>
                                <td>{{i[2]}} {{i[3]}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="col">
                    <form action="/admin/linker/link" method="post">
                        <div class="my-4">
                            <input name="id" id="id" readonly hidden>
                            <input class="form-control" id="text"
                                   placeholder="Host's Course" readonly>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col" style="text-align: left;">
                                <button type="button" class="btn btn-primary mx-4" onclick="emptyField('text')">
                                    <---
                                </button>
                            </div>
                            <div class="col" style="text-align: right;">
                                <button type="button" class="btn btn-primary mx-4" onclick="emptyField('text2')">
                                    --->
                                </button>
                            </div>

                        </div>
                        <div class="my-4">
                            <input name="id2" id="id2" readonly hidden>
                            <input class="form-control" style="text-align: right;" id="text2"
                                   placeholder="Muic's Course" readonly>
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" id="link" class="btn btn-primary mx-4">
                                Link
                            </button>
                            <button type="submit" formaction="/admin/linker/unlink" id="unlink"
                                    class="btn btn-primary mx-4">
                                Unlink
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <a>MUIC's Course</a>
                    <div class="mb-3">
                        <input class="form-control" onkeyup="search('table3','search3')" name="search" id="search3"
                               placeholder="Search course links">
                    </div>
                    <div class="table-responsive">

                        <table class="table" id="table3">
                            <thead>
                            <tr>
                                <th scope="col">MUIC's Course</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in ic_courses %}
                            <tr class="table-row" onclick="selectText('text2','{{i[1]}}', 'id2', '{{i[0]}}')">
                                <td>{{i[1]}} {{i[2]}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
</body>

<script>
    function search(tableId, searchId) {
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(searchId);
        filter = input.value.toUpperCase();
        table = document.getElementById(tableId);
        tr = table.getElementsByClassName("table-row");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            if (td) {
                txtValue = "";
                for (let inner of td) {
                    txtValue += (inner.textContent || inner.innerText)
                }
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].removeAttribute("hidden")
                } else {
                    tr[i].setAttribute("hidden", "")
                }
            }
        }
    }

    function selectText(textId, course, uniqueId, id) {
        document.getElementById(textId).value = course;
        document.getElementById(uniqueId).value = id;
        document.getElementById('link').setAttribute("class", "btn btn-primary mx-4")
        document.getElementById('unlink').setAttribute("class", "btn btn-primary mx-4 disabled")
    }

    function selectApproved(course1, course2, id1, id2) {
        document.getElementById('text').value = course1;
        document.getElementById('text2').value = course2;
        document.getElementById('id').value = id1;
        document.getElementById('id2').value = id2;
        document.getElementById('link').setAttribute("class", "btn btn-primary mx-4 disabled")
        document.getElementById('unlink').setAttribute("class", "btn btn-primary mx-4")
    }

    function emptyField(fieldId) {
        document.getElementById(fieldId).value = "";
    }
</script>
</html>