<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
</head>
<body>
{% extends "admin/admin.html" %}
{% block content %}
<main>
    <div class="m-4">
        <h2>Edit links</h2>
        <div>
            {% for link in links %}
            <br/>
            <form action="/admin/links" method="post">
                <div class="row">
                    <div class="col-10">
                        <label for="linkToEdit" class="form-label">{{ link.pretty_name }}</label>
                        <input class="form-control" name="url" id="linkToEdit" value="{{ link.url }}">
                        <label hidden="hidden" for="hidden1" class="form-label">{{ link.pretty_name }}</label>
                        <input type="hidden" name="name" id="hidden1" value="{{ link.db_name }}">
                    </div>
                    <div class="col-2 align-self-end">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
</body>

</html>