<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<body>
    <main>
      <div class="m-4">
        <form action="/admin/{{zone}}" method="post">
          <div class="mb-3">
            <label class="form-label">University's name</label>
            <input class="form-control" name="name" id="InputName" placeholder="Mahidol University">
            <div class="form-text">Will be displayed as typed</div>
          </div>
            <div class="input-group">
                <span class="input-group-text">Country</span>
                <select class="form-select" name="country">
                    <option selected>Open this select menu</option>
                    {% for i in countries %}
                    <option value={{loop.index}}>{{ i[1] }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-text">Required Gpa</span>
                <input type="text" name="gpa" class="form-control">
                <span class="input-group-text">Housing Type</span>
                <select class="form-select" name="housing">
                    <option selected>Select Housing Type</option>
                    <option value=0>On-campus</option>
                    <option value=1>Off-campus</option>
                </select>
                <span class="input-group-text">Cost-min</span>
                <input type="text" name="costMin" class="form-control">
                <span class="input-group-text">Cost-max</span>
                <input type="text" name="costMax" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Map Link</label>
                    <input class="form-control" name="mapLink" id="map" placeholder="Link to Unis map">
                <div class="form-text">Will be displayed as typed</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Incoming Student Link</label>
                    <input class="form-control" name="incomingLink" id="incoming" placeholder="Link for incoming student">
                <div class="form-text">Will be displayed as typed</div>
            </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
<br>
          <div>
              <label for="exampleDataList" class="form-label">Search then click to edit</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                  <option value="San Francisco">
                  <option value="New York">
                  <option value="Seattle">
                  <option value="Los Angeles">
                  <option value="Chicago">
                </datalist>
          </div>
      </div>
    </main>


</body>
</html>